 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:blue;font-weight: bold"><img class="img" src="<?php echo base_url('Aset/all.png');?>">All categories <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:blue;font-weight: bold"><img class="img" src="<?php echo base_url('Aset/fash.png');?>">
          Fashion
        </a>
        <div class="dropdown-menu nav-custom2" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Man</a>
          <a class="dropdown-item" href="#">woman</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" style="color:blue;font-weight: bold"><img class="img" src="<?php echo base_url('Aset/care.png');?>" >Body & skin care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" style="color:blue;font-weight: bold"><img class="img" src="<?php echo base_url('Aset/nct.png');?>" >k-pop merch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" style="color:blue;font-weight: bold"><img class="img" src="<?php echo base_url('Aset/makeup.png');?>" >make up</a>
      </li>
    </ul>